// TITLES & TEXTS
%title {
  font-family: $aoc-title-font;
}
%subtitle {
  font-family: $aoc-subtitle-font;
}
%link {
  color: $blue !important;
  text-decoration: none !important;
  &:hover {
    color: $blue !important;
    text-decoration: underline !important;
  }
  &:not([href]),
  &:not([tabindex]) {
    color: $blue !important;
    text-decoration: none !important;
    @extend %cursor-pointer;
    &:hover {
      color: $blue !important;
      text-decoration: underline !important;
    }
  }
}
%heading_bg {
  background-image: url(/assets/heading_bg.png);
  background-repeat: repeat-x;
  background-position: left center;
}
%heading_bg_line {
  background-image: url(/assets/heading_bg_line.png);
  background-repeat: repeat-x;
  background-position: left center;
}
%cursor-pointer {
  cursor: pointer;
}

/* CENTER Y */
%center-vert {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

/* CENTER X */
%center-horz {
  position: relative;
  left: 50%;
  @include transform(translateX(-50%));
}
