<div class="container">
  <div class="logo">
    <img src="../../../assets/logo/logo-fill-small.png" />
    <img src="../../../assets/logo/logo-fill-text.png" />
  </div>
  <address>
    <div>
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <ul>
        <li>Avenida da Igreija, nº 25C,</li>
        <li>1700-231 Lisboa</li>
      </ul>
    </div>
    <div>
      <i class="fa fa-mobile" aria-hidden="true"></i>
      <ul>
        <li>938 482 749</li>
      </ul>
    </div>
    <div>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <ul>
        <li>218 497 726</li>
      </ul>
    </div>
    <div>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <ul>
        <li><a href="mailto:info@aourivesariacosta.pt">info@aourivesariacosta.pt</a></li>
      </ul>
    </div>
    
    <div>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <ul>
        <li>Seg. a Sex. das 09:00-13:00 e 15:00-19:00</li>
        <li>Sab. das 09:00-13:00</li>
      </ul>
      
      
    </div>
  </address>
  <h1 color="white" class="text-center">EM CONSTRUÇÃO</h1>
</div>

