<section class="history">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 color="black">{{ this.title | uppercase }}</h1>
        <div class="heading_bg">
          <h3 color="grayDark">{{ this.subtitle | uppercase }}</h3>
        </div>
        <p color="grayDark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ipsum sit amet nulla aliquam imperdiet.
          Suspendisse pretium arcu quis imperdiet ultricies. Quisque vestibulum lectus at rhoncus ornare. In ac
          dignissim risus, quis imperdiet urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Phasellus malesuada ornare nisl, quis sollicitudin elit vestibulum in. Donec vitae
          faucibus sem. Sed orci turpis, hendrerit vitae massa vel, volutpat feugiat mi.<br/>
          Quisque porta sollicitudin dolor nec rutrum. Nam vel aliquam enim, quis pretium magna. Vestibulum vel
          tristique mauris. Maecenas nec nulla vitae nisi eleifend volutpat quis varius mi. Sed sit amet vulputate
          velit. Donec ante ex, tempor sit amet pellentesque sed, sodales vitae diam. Morbi finibus risus mauris, id
          feugiat nisl aliquam vel. Nunc pretium sem elit, eget finibus nisl bibendum at. Sed a volutpat massa. Morbi
          consectetur turpis at dolor pretium vehicula. Quisque justo ipsum, commodo feugiat tellus eget, suscipit
          congue elit. Suspendisse potenti.</p>
      </div>
    </div>
  </div>
</section>

<app-quote text="{{ quoteTxt }}" author="{{ quoteAuthor }}"></app-quote>

<section class="history">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="heading_bg text-right">
          <h3 color="grayDark">{{ this.subtitle2 | uppercase }}</h3>
        </div>
        <p color="grayDark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ipsum sit amet nulla aliquam imperdiet.
            Suspendisse pretium arcu quis imperdiet ultricies. Quisque vestibulum lectus at rhoncus ornare. In ac
            dignissim risus, quis imperdiet urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Phasellus malesuada ornare nisl, quis sollicitudin elit vestibulum in. Donec vitae
            faucibus sem. Sed orci turpis, hendrerit vitae massa vel, volutpat feugiat mi.<br/>
            Quisque porta sollicitudin dolor nec rutrum. Nam vel aliquam enim, quis pretium magna. Vestibulum vel
            tristique mauris. Maecenas nec nulla vitae nisi eleifend volutpat quis varius mi. Sed sit amet vulputate
            velit. Donec ante ex, tempor sit amet pellentesque sed, sodales vitae diam. Morbi finibus risus mauris, id
            feugiat nisl aliquam vel. Nunc pretium sem elit, eget finibus nisl bibendum at. Sed a volutpat massa. Morbi
            consectetur turpis at dolor pretium vehicula. Quisque justo ipsum, commodo feugiat tellus eget, suscipit
            congue elit. Suspendisse potenti.</p>
      </div>
    </div>
  </div>
</section>