.home {
  padding-top: 0;
  // CAROUSEL
  .carousel {
    .carousel-indicators {
      bottom: 0;
      li {
        width: 10px;
        height: 10px;
        @include border-radius(50%);
      }
    }
  }
  &__newest {
    padding-bottom: 20px;
    h1 {
      @extend %subtitle;
    }
  }
  &__highlight {
    padding-bottom: 0;
    h1 {
      @extend %subtitle;
    }
  }
}