.home {
  padding-top: 0;
  // CAROUSEL
  .carousel {
    .carousel-indicators {
      bottom: 0;
      li {
        width: 10px;
        height: 10px;
        @include border-radius(50%);
      }
    }
  }
  &__highlight {
    padding-top: 10px;
  }
}