.products {
  padding: 0;
  .product {
    &__filter {
      background-color: $grayLight;
      padding: 30px 0 20px;
    }
    &__list {
      .card {
        margin-bottom: 30px;
        button {
          margin: 0;
        }
      }
    }
    &__item {
      overflow: hidden;
      margin-bottom: 20px;
      .block-image {
        @extend %block-image
      }
      .heading_bg,
      .heading_bg_line {
        margin-bottom: .25em;
      }
    }
    &__detail {
      background-color: $grayLight;
    }
  }
}