.products {
  padding: 0;
  .product {
    &__filter {
      background-color: $grayLight;
      padding: 15px 0 5px;
      text-align: right;
      @include media-smaller-than(768px) {
        text-align: center;
      }
    }
    &__list {
      h1,
      h3 {
        @extend %subtitle;
      }
      .heading_bg {
        margin-bottom: 15px;
      }
    }
    &__item {
      overflow: hidden;
      margin-bottom: 20px;
      @include transition();
      .heading_bg,
      .heading_bg_line {
        margin-bottom: .25em;
      }
    }
    &__detail {
      &__title {
        background-color: $grayLight;
        padding: 15px 0;
      }
    }
  }
}