h1 {
  @extend %title;
}
h2 {
  @extend %title;
}
h3 {
  @extend %title;
}
h4 {
  @extend %subtitle;
}
h5 {
  @extend %subtitle;
}
h6 {
  @extend %subtitle;
}
p {
  text-align: justify;
  a {
    @extend %link;
  }
}
// HEADER WITH LINE
.heading_bg,
.heading_bg_line {
  margin-bottom: .5rem;
  > * {
    background-color: white;
    padding-right: 10px;
    display: inline-block;
    margin: 0;
  }
  &.text-right {
    > * {
      padding-left: 10px;
    }
  }
  &.text-center {
    > * {
      padding: 0 10px;
    }
  }
}
.heading_bg {
  @extend %heading_bg;
}
.heading_bg_line {
  @extend %heading_bg_line;
}
