<!-- STYLE GUIDE -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Style Guide</h1>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Colors</h3>
        <div class="square gray" placement="top" ngbTooltip="$gray">
          <span>$gray</span>
        </div>
        <div class="square grayDark" placement="top" ngbTooltip="$grayDark">
          <span>$grayDark</span>
        </div>
        <div class="square blueLight" placement="top" ngbTooltip="$blueLight">
          <span>$blueLight</span>
        </div>
        <div class="square blue" placement="top" ngbTooltip="$blue">
          <span>$blue</span>
        </div>
        <div class="square blueDark" placement="top" ngbTooltip="$blueDark">
          <span>$blueDark</span>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Buttons</h3>
        <button type="button" class="btn aoc-btn btn-blue">Button</button>
        <button type="button" class="btn aoc-btn btn-gray">Button</button>
        <button type="button" class="btn aoc-btn btn-blue btn-line">Button</button>
        <button type="button" class="btn aoc-btn btn-gray btn-line">Button</button>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Typography</h3>
        <h1>h1. heading</h1>
        <h2>h2. heading</h2>
        <h3>h3. heading</h3>
        <h4>h4. heading</h4>
        <h5>h5. heading</h5>
        <h6>h6. heading</h6>
        <div class="heading_bg">
          <h1>heading_bg</h1>
        </div>
        <div class="heading_bg_line">
          <h1>heading_bg_line</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada accumsan neque, quis placerat mi
          tincidunt
          eget. Curabitur condimentum purus volutpat, luctus purus vel, maximus arcu. Etiam gravida ipsum et vehicula
          imperdiet.
          Nullam interdum augue non blandit volutpat. Sed sit amet magna luctus, posuere nunc ut, porta urna.
          <a>Pellentesque tincidunt hendrerit accumsan</a>. Cras sed leo leo. Cras vestibulum interdum metus, vitae
          congue dolor
          elementum nec. Duis in justo ac nisl bibendum dignissim eu eu dui.
          <a href="">Donec pulvinar rhoncus arcu vel tempor</a>. Aenean sagittis dolor nisl, vel accumsan nunc rutrum
          sit
          amet. Etiam consequat felis rhoncus felis lobortis, vel maximus nunc mollis. Etiam ut congue eros. Praesent
          tempor mauris in massa aliquam, in vestibulum dolor varius. Donec luctus tellus id mollis sagittis.</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Forms</h3>
        <form [formGroup]="exampleForm" novalidate>
          <div class="form-group">
            <label for="formExampleInput">Example label</label>
            <input type="text" id="formExampleInput" placeholder="Example input">
            <small id="inputHelp" class="form-text text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
            <div class="valid-feedback">Success</div>
            <div class="invalid-feedback">Error</div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email address</label>
            <input type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
            <div class="valid-feedback">Success</div>
            <div class="invalid-feedback">Error</div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <input type="password" id="exampleInputPassword" aria-describedby="passwordHelp"
              placeholder="Password">
            <small id="passwordHelp" class="form-text text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing
              elit.</small>
            <div class="valid-feedback">Success</div>
            <div class="invalid-feedback">Error</div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <div class="select-wrapper">
              <label for="exampleFormControlSelect">
                <select id="exampleFormControlSelect">
                  <option value="null" class="placeholder" disabled>Selecione</option>
                  <option value="Option 1">Option 1</option>
                  <option value="Option 2">Option 2</option>
                  <option value="Option 3">Option 3</option>
                  <option value="Option 4">Option 4</option>
                  <option value="Option 5">Option 5</option>
                </select>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea">Example textarea</label>
            <textarea id="exampleFormControlTextarea" rows="3" placeholder="Example textarea"></textarea>
          </div>
          <div class="form-group">
            <div class="checkbox-wrapper">
              <label>
                <input type="checkbox">
                <span></span>
                Checkbox Right
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox-wrapper">
              <label>
                Checkbox Left
                <input type="checkbox">
                <span></span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="radio-wrapper">
              <label>
                <input type="radio">
                <span></span>
                Radio Right
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="radio-wrapper">
              <label>
                Radio Left
                <input type="radio">
                <span></span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox-wrapper checkbox-column">
              <label>
                <input type="checkbox">
                <span></span>
                Checkbox 1
              </label>
              <label>
                <input type="checkbox">
                <span></span>
                Checkbox 2
              </label>
              <label>
                <input type="checkbox">
                <span></span>
                Checkbox 2
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="radio-wrapper radio-column">
              <label>
                <input type="radio">
                <span></span>
                Radio 1
              </label>
              <label>
                <input type="radio">
                <span></span>
                Radio 2
              </label>
              <label>
                <input type="radio">
                <span></span>
                Radio 3
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox-wrapper checkbox-inline">
              <label>
                <input type="checkbox">
                <span></span>
                Checkbox 1
              </label>
              <label>
                <input type="checkbox">
                <span></span>
                Checkbox 2
              </label>
              <label>
                <input type="checkbox">
                <span></span>
                Checkbox 2
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="radio-wrapper radio-inline">
              <label>
                <input type="radio">
                <span></span>
                Radio 1
              </label>
              <label>
                <input type="radio">
                <span></span>
                Radio 2
              </label>
              <label>
                <input type="radio">
                <span></span>
                Radio 3
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="switch-wrapper">
              <label>
                  <input type="checkbox">
                  <span></span>
                </label>
            </div>
          </div>
          <div class="form-group">
            <div class="switch-wrapper">
              <label>
                  <input type="checkbox">
                  <span class="round"></span>
                </label>
            </div>
          </div>
          <button type="submit" class="btn aoc-btn btn-blue" [disabled]="!exampleForm.valid">Submit</button>
          <button type="button" class="btn aoc-btn btn-gray" (click)="onReset()">Reset</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- END STYLE GUIDE -->