<section class="product__filter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" class="btn aoc-btn btn-blue btn-line" (click)="filter()">All</button>
        <button *ngFor="let collection of allCollections" type="button" class="btn aoc-btn btn-blue btn-line" (click)="filter(collection)">
          {{ collection }}
        </button>
      </div>
    </div>
  </div>
</section>

<section class="product__list">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 color="black">{{ this.title | uppercase }}</h1>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="heading_bg">
            <h3 color="grayDark">{{ this.subtitle | uppercase }}</h3>
          </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of allProducts | filterBy: ['collection']: this.applyFilter">
        <app-product-item [info]="item"></app-product-item>
      </div>
    </div>
  </div>
</section>