<section class="product__detail__title">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h1 class="m-0">{{ product?.collection }}</h1>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
        <button type="button" class="btn aoc-btn btn-blue m-0" (click)="backToList()">
          Voltar
          <i class="fa fa-list"></i>
          <!-- <i class="fa fa-angle-left"></i> -->
        </button>
      </div>
    </div>
  </div>
</section>
<section class="product__detail">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <!-- INSTALL IMAGE GALLERY WITH THUMBNAIL -->
        <!-- https://www.npmjs.com/package/ngx-gallery -->
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h4>{{ product?.product_text }}</h4>
        <p color="grayDark">{{ product?.detail.description }}</p>
        <hr/>
        <h5>Características</h5>
        <h6 color="grayDark">Cor</h6>
        <ul>
          <li class="inline" color="grayDark" *ngFor="let part of productParts">{{ part }}</li>
        </ul>
        <h6 color="grayDark">Tamanhos</h6>
        <ul>
          <li class="inline" color="grayDark" *ngFor="let size of productSizes">{{ size }}</li>
        </ul>
        {{ myCount }}
        <hr/>
        <app-counter [prodVal]="product?.detail.amount" (change)="countChange($event)"></app-counter>
        <h4 color="blueDark" class="text-right">{{ product?.detail.amount }} €</h4>
      </div>
    </div>
  </div>
</section>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <pre>{{ product | json:4 }}</pre>
    </div>
  </div>
</div> -->